@mixin marginLFBody {
  margin-left: 10px;
  margin-right: 10px;
}

@mixin marginLFDiv {
  margin-left: 15px;
  margin-right: 15px;
}

body {
  @include marginLFBody;
}

div {
  @include marginLFDiv;
}
